.login {
  display: grid;
  place-items: center;
  height: 60vh;
  width: 100%;
}
.login button {
  color: #eff2f5;
  background: #738adb;
  font-weight: 800;
  width: 300px;
}
.login button:hover {
  background: #000;
  color: #738adb;
}
.login img{
    object-fit: contain;
    height: 250px;
}
